html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.amap-copyright, .amap-logo {
  display: none!important;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.stage {
  width: 1920px;
  height: 1080px;
  background: #0a2b59;
  transform-origin: 0 0;
}
@media screen and (max-width: 1920px) {
  .stage {
    transform: scale(calc(100vw/1920));
  }
}